
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #0b5bf0ff, #b3d1ffff);
    color: #3f063fff;
    text-align: center;

}
h1 {
    font-size: 3em;
    margin-top: 50px;
    color: #002fffff;
    text-shadow: 2px 2px 5px #99c5ffff;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

p {
    font-size: 1.2em;
    margin: 20px auto;
    width: 60%;
    line-height: 1.6;
    color: #0f0066ff;
}

img {
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(38, 0, 255, 0.4);
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center; /* horizontal center */
    gap: 30px; /* space between buttons */
    margin: 30px 0;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #5833ffff;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(105, 51, 255, 0.4);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #6682ffff;
    box-shadow: 0 8px 20px rgba(51, 88, 255, 0.6);
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #b3beffff;
    color: #000a66ff;
    font-size: 1em;
}
